<main>
    <div class="container py-1">

        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel">
                        <div class="card-body">
                            <div class="text-center">
                                <div class="avatar mx-auto" style="width: 150px;height: 150px;">                         
                                    <% if current_user.avatar?%>
                                            <%= image_tag(@user.avatar.url) %>
                                    <% else %>
                                    <%=image_tag("13.jpeg", class: "avatar") %>
                                    <% end %>
                               </div>
                                <div class="media-body ">
                                    <h1><%= current_user.name %></h1>
                                    <p><%= current_user.email %></p>
                                </div>
                                <div class="row mt-15">
                                  <div class="col-sm-6">
                                     <%= link_to "View profile", user_path(id:current_user.id), class: "btn btn-sm btn-warning text-white" %>
                                  </div>
                                  <div class="col-sm-6">
                                     <%= link_to "Update profile", edit_user_path(id:current_user.id), class: "btn btn-sm btn-info text-white" %>
                                  </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>

              <div class="col-sm-8 offset-sm-1">
                    <div class="card activity-feed">
                        <div class="well pt-0">
                            <div class="card-header">
                             <strong class="heading">Words learned</strong>
                             </div>
                             <div class="card">
                             <table class="table table-striped">

                               
                          <thead>
                                <tr>
                                <th scope="col">Word</th>
                                <th scope="col">Your Answer</th>
                                <th scope="col">Correct Answer</th>
                                </tr>
                         </thead>
                            <tbody>
                            <% @answers.each do |answer| %>
                        <tr>
                        <td>
                         <%= answer.word.content %>
                        </td>
                        
                        <td>
                       <%= answer.choice.content %>
                        </td>

                        <td>
                          <%= answer.word.correct_answer.content %>
                        </td>
                        <% end %>
                            </tbody>
                            
                             </table>
                              <div class="paginate mt-4">
                                  <%= will_paginate @answers %>
                                </div>
               </div>          
                                 <div class="card-footer paginate text-center"></div>
                        </div>
                    </div>
                </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
