<div class="p-3 mb-2 bg-light text-dark">
<div class="container">
    <div class="row">
     <div class="col-md-6 mx-auto"> 
      
      <div class="row" style="margin-bottom: 20px;">
         <div class="col-sm-6">
            <h1><%= @category.title %></h1>
         </div>
         <div class="col-sm-6 text-right">
            <h3 class="text-muted"><span class="text-warning"><%= @progress %></span> of <%= @words.count %></h3>
         </div>
      </div>
        <div class="card p-3">
         <div class="text-info text-center">
           <h2><%= @word.content %></h2>

            <% @choices.each do |choice| %>
               <% choice.content %>
           <p><%= button_to choice.content,
                  category_answers_path(
                         word_id: @word.id,choice_id: choice.id
                            ),
                            method: :post,
                            class: "btn btn-outline-secondary btn-block" %>
            </p>
            <% end %>
         </div>
        </div>
       
     </div>
    </div>
</div>
</div>