<div class="container">
<div class="row" style="margin-bottom: 20px;">
         <div class="col-sm-6">
            <h1>name 1</h1>
         </div>
         <div class="col-sm-6 text-right">
            <h3 class="text-muted"><span>Result:</span><span class="text-warning"><%= @result %></span> of<span> <%= @words.count %></span></h3>
         </div>
      </div>
    <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Word</th>
                    <th scope="col">Your Answer</th>
                    <th scope="col">Correct Answer</th>
                    </tr>
                </thead>
                <tbody>
                  <% @answers.each do |answer| %>

                        <tr>
                        <td>
                         <%= answer.word.content %>
                        </td>
                        
                        <td>
                       <%= answer.choice.content %>
                        </td>

                        <td>
                          <%= answer.word.correct_answer.content %>
                        </td>

                        <td>
                          <% if answer.choice.correct %>
                         <td><i class="far fa-check-circle "></i></td>
                         <% else %>
                         <td><i class="far fa-times-circle "></i></td>
                        </td>
                        <% end %>
                        </tr>
                
                   <% end %>
                </tbody>
            </table>
    </div>
</div>