<h1>Categories</h1>
<div class="row">
    <% @categories.each do |category| %>
    <div class="col-md-6 mb-4">
     <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 
         <%= category.title %>
        </h5>
        <p class="card-text">
        <%= category.description %>
        </p>
       <% if lesson = current_user.lessons.find_by(category_id: category.id) %>
          <%= link_to "Show result",lesson_path(lesson.id) %>
       <% else %>
         <%= button_to "Learn", lessons_path(lesson: {category_id: category.id}), method: :post ,class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
    </div>
    <% end %>
</div>

<div class="paginate mt-4">
<%= will_paginate %>
</div>