<header class="navbar navbar-expand-sm navbar-dark bg-dark">
   <div class="container">
   <%= link_to "sasaki", root_path, class: "navbar-brand" %>

   <ul class ="nav navbar-nav navber-right">
       
        <% unless logged_in? %>

         <li class="nav-item">
            <%= link_to "Sign up", signup_path, class: "nav-link" %>
        </li>

        <li class="nav-item">   
            <%= link_to "Log in", login_path, class: "nav-link" %>
        </li>

        <% else %>

        <li class="nav-item">   
            <%= link_to "Dashboard", "#", class: "nav-link" %>
        </li>

        <li class="nav-item">   
            <%= link_to "Categories", categories_path, class: "nav-link" %>
        </li> 
        
        <li class="nav-item">   
            <%= link_to "Members", users_path, class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbar-dropdown" data-toggle="dropdown">
            <%= current_user.name %>
        </a>

         <div class="dropdown-menu">
              <%= link_to "Profile", current_user, class: "dropdown-item" %>
               <%= link_to "Settings", edit_user_path(current_user.id), class: "dropdown-item" %>
                <%= link_to "Logout", logout_path, method: :delete, class: "dropdown-item" %>
         </div>
        </li>
        <% end %>
    </ul>
</header>